* {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.header {
  width: 100%;
}

.nav {
  width: 100%;
  position: relative;
  box-shadow: 0px 1px 10px rgb(236, 236, 236);

  &__wrapper {
    margin: 0 auto;
    max-width: 1170px;
    max-width: 73.125rem;
    display: flex;
    padding: 1rem 0 1.5rem;
    align-items: center;
    height: 8.2rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }

  &__logo {
    margin-right: 4.54rem;
    margin-top: 1.2rem;
  }

  .nav__item {
    display: inline-block;
    color: #292929;

    .nav__link {
      text-decoration: none;
      color: inherit;

      &--has-icon {
        display: flex;
        align-items: center;

        .nav__icon {
          margin-right: 5px;
          margin-left: 5px;
          transition: transform 0.3s;
        }
      }

      &--icon-size-small {
        .nav__icon {
          transform: scale(0.8);
        }
      }

      &--active {
        font-weight: bold;

        .nav__icon {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__secondary {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .nav__links {
      padding: 0;
      list-style-type: none;
      margin: 0;
      display: flex;
      align-items: center;

      .nav__item {
        font-size: 0.875rem;
        margin-right: 1.875rem;

        .nav__button {
          background: #ffbc0d;
          color: #292929;
          border-radius: 0.25rem;
          border: none;
          font-size: 1rem;
          padding: 0.625rem 1.5525rem;
          min-width: 7.875rem;
          cursor: pointer;
        }
      }
    }
  }

  &__primary {
    padding: 0;
    list-style-type: none;
    margin: 0;

    .nav__item {
      display: inline-block;
      font-size: 1.125rem;
      color: #292929;
      margin-right: 1.5625rem;

      .nav__link {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  .menu {
    position: absolute;
    top: 8.2rem;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 2.71875rem 0;
    display: none;

    &.open {
      display: block;
    }

    &__grid {
      display: grid;
      width: 63.75rem;
      margin: 0 auto;
      grid-template-columns: auto auto auto;

      .menu__item {
        width: 20.125rem;
        display: flex;
        align-items: center;

        .menu__image {
          margin: 0 0.875rem 0 0;
          height: 5rem;
          width: 5rem;
        }

        .menu__text {
          color: #292929;
          font-size: 1rem;
          line-height: 1.375rem;
        }
      }
    }

    &__button {
      min-width: 10.125rem;
      color: #292929;
      font-size: 1rem;
      background: none;
      border: 0.0625rem solid #adadad;
      border-radius: 0.25rem;
      padding: 0.8125rem 1.5625rem;
      display: block;
      margin: 3.375rem auto 0;
      cursor: pointer;
    }
  }
}

.mobile-nav {
  display: none;
  position: relative;
  background: #fff;
  width: 100%;
  overflow: hidden;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 0.5rem;
    box-shadow: 0px 1px 10px rgb(236, 236, 236);
    height: 3rem;
  }

  &__button-container {
    margin-right: 0.5rem;
  }

  &__button {
    padding: 0.5rem 0.74rem;
    background: #ffbc0d;
    color: #292929;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    min-width: 6.25rem;
    border: none;
    line-height: 1.25rem;
  }

  &__logo-container {
    display: flex;
    align-items: center;

    .mobile-nav__icon:first-of-type {
      margin-right: 1.3rem;
    }
  }

  &__icon {
    max-width: 2rem;
    cursor: pointer;
  }

  &__close-button {
    display: none;
  }

  &--open {
    .mobile-nav__pane {
      display: block;
    }

    .mobile-nav__wrapper {
      box-shadow: none;
    }

    .mobile-nav__logo-container {
      .mobile-nav__icon:not(.mobile-nav__close-icon):not(.mobile-nav__logo) {
        display: none;
      }
    }

    .mobile-nav__button {
      display: none;
    }

    .mobile-nav__close-button {
      display: inline-block;
    }
  }

  &__pane {
    width: 100%;
    padding-right: 0.8125rem;
    padding-left: 4rem;
    padding-top: 2.5rem;
    display: none;

    .mobile-nav__links {
      list-style-type: none;
      padding: 0;
      margin: 0;

      .mobile-nav__item {
        padding: 1rem 0;
        margin-bottom: 1.375rem;

        .mobile-nav__link {
          padding: 0.5625rem 0;
          text-decoration: none;
          color: inherit;

          &--has-icon {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }

        .mobile-nav__accordion {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-right: 0.4rem;

          .mobile-nav__minus-icon {
            display: none;
          }
        }

        .menu {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s;

          &__button {
            min-width: 12rem;
            color: #292929;
            border: 0.0625rem solid #adadad;
            border-radius: 0.25rem;
            font-size: 0.875rem;
            line-height: 1.25rem;
            padding: 0.8125rem 1.5625rem;
            background: none;
            margin: 3.2rem 0 1.5625rem;
          }

          &__grid {
            width: 63.75rem;
            margin: 0 auto;
            display: flex;
            flex-direction: column;

            .menu__item {
              display: flex;
              align-items: center;

              .menu__image {
                height: 3.75rem;
                margin-right: 0.9375rem;
              }

              .menu__text {
                color: #292929;
                font-size: 0.875rem;
                line-height: 1.375rem;
              }
            }
          }
        }
      }

      .mobile-nav__item--has-accordion.mobile-nav__item--open {
        .mobile-nav__minus-icon {
          display: inline-block;
        }

        .mobile-nav__plus-icon {
          display: none;
        }

        .menu {
          max-height: 150vh;
        }
      }

      &--size-small {
        .mobile-nav__item {
          font-size: 0.875rem;
          line-height: 1.25rem;
          padding: 0;
          margin-bottom: 2rem;

          .mobile-nav__link {
            padding: 0;
          }
        }
      }
    }

    .mobile-nav__hr {
      margin: 1.6875rem 0;
      border: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}

@media only screen and (max-width: 768px) {
  .nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }
}
